# Log files
app.txt

# Configuration files
db_config.ini
build.bat

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.egg-info/

# PyCharm specific
.idea/


.dependencies/

.params/

.build/

.dist/